<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>CLAIM MANAGEMENT</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="bg">

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title btn btn-warning">
					<a data-toggle="collapse" href="#collapse1">Menu</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse"
				style="margin-left: 30px">
				<div class="nav-item">
					<a class="nav-link active" aria-current="page"
						th:href="@{/memberHome}">Home</a>
				</div>
				<div class="nav-item">
					<a class="nav-link " th:href="@{/logout}" href="#" tabindex="-1"
						aria-disabled="true">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="text-align: justify;">
		</br> <br> <br>
		<div class="alert alert-danger">
			<strong>Invalid Data has been Entered.</strong>
		</div>
		
	</div>



</body>
</html>

